html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased !important;
  min-height: 100%;
  scroll-behavior: smooth;
}

::selection {
  background: var(--color-default-black);
  color: var(--color-default-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  color: var(--color-default-black);
}

#app {
  overflow-x: hidden;
}

button {
  display: inline-block;
  font-size: var(--text-base);
  border: 0;
  outline: 0;
  cursor: pointer;
}
