$primary-color: #41aaf0;
$secondary-color: rgb(255, 136, 0);
$black: #303030;
$white: #fff;
$gray: #a7a7a7;
$title-font: "Raleway", Arial, sans-serif;
$body-font: "Source Sans Pro", Arial, sans-serif;
$mobile-breakpoint: 420px;
