:root {
  --color-primary: hsl(187, 78%, 46%);
  --color-accent: hsl(26, 79%, 56%);
  --color-silver: hsl(225, 15%, 50%);
  --color-silver-600: hsl(226, 24%, 62%);
  --color-default-black: hsl(216, 9%, 11%);
  --color-default-white: hsl(0, 0%, 97%);
  --color-gray-800: hsl(214, 9%, 15%);
  --color-gray-700: hsl(210, 5%, 24%);
  --color-gray-600: hsl(214, 9%, 35%);
  --color-gray-500: hsl(214, 9%, 45%);
  --color-gray-400: hsl(214, 9%, 55%);
  --color-gray-300: hsl(214, 9%, 65%);
  --color-gray-200: hsl(214, 9%, 75%);
  --color-gray-100: hsl(214, 9%, 85%);
  --text-color-default: var(--color-default-white);
  --code-bg-color: hsl(220, 13%, 18%);
  --code-highlight-color: hsla(187, 78%, 46%, 0.05);
  --text-xsm: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 2.5rem;
  --text-3xl: 3.75rem;
  --font-sans: 'Source Sans Pro', -apple-system, 'Segoe UI',
    Helvetica sans-serif;
  --font-title: 'Raleway', sans-serif;
  --font-serif: 'Roboto Slab', Palatino, Georgia, serif;
  --font-mono: 'Source Code Pro', 'SF Mono', Consolas, Menlo, monospace;
  --radius-default: 4px;
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.2);
  --elevation-2: 0 4px 4px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 4px 10px rgba(0, 0, 0, 0.07);
  --elevation-4: 0 10px 19px rgba(0, 0, 0, 0.27);
  --elevation-5: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.1);
  --border: var(--border-width) var(--border-style) var(--border-color);
  --scrollbar-bg: hsl(214, 9%, 15%);
  --scrollbar-thumb-color: hsl(225, 15%, 50%);
  --scrollbar-border: var(--color-gray-800);
}

body {
  --base-font-size: 16px;

  font-size: var(--base-font-size);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  display: flex;
}

@media screen and (min-width: 426px) {
  .is-mobile-only {
    display: none;
  }
}

.overflow--hidden {
  overflow: hidden;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

::selection {
  background: var(--color-primary);
  color: var(--text-color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  outline: 2px dashed var(--color-primary);
}

a:not([href]) {
  color: var(--text-color-default);
  opacity: 0.8;
  cursor: not-allowed;
}
