@layer markdown {
  :root {
    --shiki-color-text: hsl(0, 0%, 83%);
    --shiki-color-background: hsl(235, 19%, 13%);
    --shiki-token-constant: hsl(24, 75%, 50%);
    --shiki-token-string: hsl(40, 67%, 51%);
    --shiki-token-comment: hsl(229, 23%, 44%);
    --shiki-token-keyword: hsl(259, 59%, 59%);
    --shiki-token-parameter: hsl(0, 100%, 33%);
    --shiki-token-function: hsl(266, 59%, 70%);
    --shiki-token-string-expression: hsl(190, 91%, 48%);
    --shiki-token-punctuation: hsl(0, 0%, 83%);
    --shiki-token-link: hsl(0, 100%, 47%);
    --shiki-highlited-line: hsla(258, 50%, 52%, 0.4);
  }

  .shiki {
    border-radius: var(--radius-default);
    padding: 0.875rem;
    overflow-x: auto;

    *::selection {
      background: hsla(0, 0%, 0%, 0.3);
    }

    & code {
      counter-reset: step;
      counter-increment: step 0;
    }

    & span {
      font-family: var(--font-mono);
    }

    & .line:empty {
      display: none;
    }

    & .line.highlighted {
      display: inline-block;
      background: var(--shiki-highlited-line);
      width: 100%;
      border-radius: var(--radius-default);
    }

    & code .line::before {
      display: inline-block;
      width: 10px;
      content: counter(step);
      counter-increment: step;
      color: hsl(0, 0%, 60%);
      margin-inline-end: 1.5rem;
    }

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-bg);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--scrollbar-thumb-color);
      border: 5px solid var(--scrollbar-border);
    }
  }
}