.shiki *::selection {
  background: hsla(0, 0%, 0%, 0.3);
}

.shiki {
  border-radius: var(--radius-default);
  padding: 0.875rem;
  overflow-x: auto;
}

.shiki code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki span {
  font-family: var(--font-mono);
}

.shiki .line:empty {
  display: none;
}

.shiki code .line::before {
  content: counter(step);
  counter-increment: step;
  color: hsl(0, 0%, 60%);
  margin-right: 1.5rem;
}

.shiki::-webkit-scrollbar {
  width: 1em;
}

.shiki::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.shiki::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-thumb-color);
  border: 5px solid var(--scrollbar-border);
}
